html{
  background-color: black;
}

.menu {
  padding: 0px;
}

.menu{
  Color: rgb(22, 22, 112)

}


h1 {
  color: Gold
}

h2{
  text-decoration: none;
  font-size: 20px;
}

#amanha{
  color: rgb(31, 30, 82);
}

#hoje{
  color: grey;
}